In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df18 = pd.read_csv("predictions_res18.csv")
df50 = pd.read_csv("predictions_res50.csv")
df101 = pd.read_csv("predictions_res101.csv")
label = pd.read_csv("labels.csv")

In [5]:
df50.head()

,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9,...,class_247,class_248,class_249,class_250,class_251,class_252,class_253,class_254,class_255,class_256
0,0.001145,0.002309,0.000973,0.001210,0.000966,0.002251,0.002596,0.000666,0.002164,0.000673,...,0.000699,0.001351,0.002328,0.001302,0.001645,0.000994,0.003314,0.000798,0.001754,0.002455
1,0.000790,0.001097,0.003052,0.000889,0.000485,0.002229,0.001608,0.004538,0.001378,0.002245,...,0.004119,0.003698,0.002514,0.001075,0.002862,0.003862,0.000801,0.001259,0.003179,0.001000
2,0.000369,0.000104,0.000306,0.000145,0.000168,0.000154,0.000165,0.000090,0.000458,0.000158,...,0.000455,0.000105,0.000353,0.000550,0.000350,0.935123,0.000199,0.000307,0.000198,0.000153
3,0.000376,0.000272,0.000309,0.000394,0.000659,0.000237,0.000241,0.000212,0.000558,0.000416,...,0.000421,0.000310,0.000419,0.000421,0.000593,0.000466,0.000428,0.000381,0.000615,0.000252
4,0.001403,0.002494,0.003339,0.003461,0.007499,0.004762,0.001953,0.003545,0.003013,0.002685,...,0.001021,0.000540,0.002935,0.003436,0.004999,0.002757,0.003101,0.009559,0.003207,0.002176