# Exploring ensembling different sized models on uncertainty measures

In [2]:
import pandas as pd
import numpy as np
from scipy.special import rel_entr
from scipy.stats import entropy

In [8]:
# Load data:
df18 = pd.read_csv("../exp2-inf/predictions_res18_2.csv")
df101 = pd.read_csv("../exp2-inf/predictions_res101_2.csv")
label = pd.read_csv("../exp2-inf/labels.csv")
num_class = 257
pred = pd.DataFrame({
    "pred18": df18.idxmax(axis=1),
    "pred101": df101.idxmax(axis=1),
    "target": label['target']
})
print(f"{df18.shape=}")
display(df18.head(1))
print(f"{df101.shape=}")
display(df101.head(1))
print(f"{pred.shape=}")
display(pred.head(1))

df18.shape=(6122, 257)

,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9,...,class_247,class_248,class_249,class_250,class_251,class_252,class_253,class_254,class_255,class_256
0,0.002548,0.003643,0.002167,0.006165,0.00484,0.00836,0.002376,0.010965,0.002399,0.008175,...,0.001317,0.002514,0.006182,0.004792,0.004116,0.004633,0.002666,0.001376,0.006288,0.002184

df101.shape=(6122, 257)

,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9,...,class_247,class_248,class_249,class_250,class_251,class_252,class_253,class_254,class_255,class_256
0,0.000012,0.000211,0.00002,0.000049,0.00007,0.000075,0.000084,0.000053,0.00004,0.000068,...,0.000061,0.000053,0.000035,0.000057,0.000019,0.000117,0.000091,0.000042,0.000036,0.000246

pred.shape=(6122, 3)

     pred18   pred101  target
0  class_24  class_24      24